/* 相当于全局变量 */
:root {
    --row: 10;
    --column: 10;
    --long:2.5rem
}
@font-face {
    font-family: electronicFont;
    src: url(../font/DS-DIGIT.ttf);
}
#game-grid {
    /* 布局模式 */
    display:grid;
    /* 重复10行 */
    grid-template-rows: repeat(var(--row),var(--long)); 
    grid-template-columns: repeat(var(--column),var(--long));
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.leftBombNum ,.bestRecord,.degree{
    color: #d7afc4;
    font-family: electronicFont;
    text-align: center;
    margin-top: 30px;
    left: 80px;
    margin-left: 100px;
}

.rules {
    background-color: #7a606e;
    border:2px solid #d7afc4;
    text-align: center;
    border-radius: 5%;
    font-size: 12px;
    font-family: electronicFont;
    color: #d7afc4;
    padding: 2px;
    margin-top: 30px;
    margin-left: 280px;
}

header, .flex {
    display: flex;
}

.number {
    font-size: 80px;
    color: #d7afc4;
    font-family: electronicFont;
    font-weight: bold;
    position: absolute;
    margin-top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.restart img{
    position: absolute;
    margin-top: 35px;
    right: 70px;
}

.game-over {
    /* 禁止用户鼠标事件 */
    pointer-events: none;
}

.grid-item {
    border: solid 0.5px #aeacac;
    justify-content: center;
    display: flex;
    cursor: pointer;
    align-items: center;
    /* position: relative; */
    /* background-color: #ccc; */
    background: url('../../number.png') center center;
    background-size: 100% 100%;
    color: rgb(192, 192, 192);
}

.grid-item:not(.opened) {
    background-color: #a4a4a4;
    border-top-color: #eee;
    border-left-color: #eee;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
    background-image: none;
}