/* 相当于全局变量 */
:root {
    --row: 10;
    --column: 10;
}
#game-grid {
    /* 布局模式 */
    display:grid;
    /* 重复10行 */
    grid-template-rows: repeat(var(--row),4rem); 
    grid-template-columns: repeat(var(--column),4rem);
}

header, .flex {
    display: flex;
}


.game-over {
    /* 禁止用户鼠标事件 */
    pointer-events: none;
}

.grid-item {
    border: solid 0.5px #aeacac;
    justify-content: center;
    display: flex;
    cursor: pointer;
    align-items: center;
    /* position: relative; */
    /* background-color: #ccc; */
    background: url('../../number.png') center center;
    background-size: 100% 100%;
    color: rgb(192, 192, 192);
}

.grid-item:not(.opened) {
    background-color: #a4a4a4;
    border-top-color: #eee;
    border-left-color: #eee;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
    background-image: none;
}